body {
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25px;
}

#grid-container {
    display: grid;
    justify-items: center;
}

#score {
    margin-top:5em;
    border-style: solid;
    border-color: white;
    padding: 2em;
}

#results {
    margin: 5em;
    height: 50%;
}

button {
    margin: 20px;
    height: 50%;
    width: 25%;
    font-size: 25px;
    border-color: white;
    background-color: black;
    color: white;
}

button:hover {
    border-color:aqua;
    color:aqua;
}

